*{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  @total-width:750; 
  @radius:10/40rem;
  .w{
      width: 690/40rem;
      margin: 0 auto;
    //   text-align: center;
  } 
  .title_bar{
    //   display: flex; 
      color:white;
      font-size: 50/40rem;
      height: 100/40rem;
      line-height: 100/40rem;
      background-color: #999;
      text-align: center;
      background-color: red;
      justify-content: space-around;
}
.box{
    margin-top:10px;
    border-radius: 10px;
    background-color:rgb(163, 163, 250);
    width: 500/40rem;
    justify-content: center;
    margin: 0 auto;
    height: 200px;
    .box_title{
        display:float;
        color:blue;
        text-align: center;
        font-size: 40/40rem;
        height: 50/40rem;
        margin-top: 10px;
    }
    input{
        width: 90%;
    }
    ul{
        margin: 10px auto;
        list-style: none;
        font-size: 10px;
    }
    button{
        background-color:green;
        font-size: 30/40rem;
        color:white;
        width: 50%;
        height: 80/40rem;
        border-radius:10px;
    }
}
.box_title{
    color:blueviolet;
    font-size: 30/40rem;
    margin-left: 10px;
    padding-top: 5px;
}
form{
    align-content: center;
    text-align: center;
    font-size: small;
}
label{
    display: block;
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
}
