* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.w,
.top-bar,
.banner,
.menu,
.course-list {
  width: 17.375rem;
  margin: 0 auto;
}
html {
  font-size: 5.33333333vw;
  background-color: #e8eaee;
}
.top-bar {
  display: flex;
  height: 3.25rem;
  line-height: 4.375rem;
  justify-content: space-between;
  align-items: center;
}
.top-bar a {
  color: #24253d;
  font-size: 1rem;
}
.top-bar a i {
  color: #999;
  font: size 16/40rem;
}
.banner img {
  width: 100%;
  border-radius: 0.25rem;
}
.menu {
  height: 5.75rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 0.25rem;
}
.menu a {
  width: 8.175rem;
  height: 2.6rem;
  line-height: 2.6rem;
  color: white;
  border-radius: 0.25rem;
}
.menu a i {
  margin: 0 0.5rem 0 0.95rem;
}
.menu1 {
  background-color: #f97053;
}
.menu2 {
  background-color: #cd6efe;
}
.menu3 {
  background-color: #fe4479;
}
.menu4 {
  background-color: #1a1b1b;
}
.course-list .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 0.5rem;
}
.course-list h2 {
  font-size: 0.75rem;
  color: #24253d;
  border-left: 0.05rem solid #3a84ff;
  padding-left: 0.1rem;
}
.course-list a {
  font-size: 0.75rem;
  color: #656565;
}
.course-list .item-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-list .item {
  margin-top: 0.375rem;
  flex-grow: 0;
  width: 7rem;
  height: 6rem;
  padding: 0 0.55rem;
  background-color: white;
  box-shadow: 0 0 10 #000003;
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column;
  align-content: space-between;
}
.course-list .item img {
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
}
.course-list .item .course-title {
  font-size: 0.4rem;
  color: #24253d;
}
.course-list .item .user-info {
  display: flex;
  align-items: center;
}
.course-list .item .avatar {
  margin-top: -0.125rem;
  width: 1.05rem;
  height: 1.05rem;
}
.course-list .item .nickname {
  margin-left: 0.075rem;
  font-size: 0.35rem;
  color: #969393;
  margin-top: 0.325rem;
  margin-left: 0.2rem;
}
